@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-all duration-300 ease-apple;
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro",
  "Noto Sans SC", sans-serif;
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, "JetBrains Mono", monospace;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "JetBrains Mono", monospace;
}

.gsc-main {
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro",
  "Noto Sans SC", sans-serif !important;
}

.gsc-reactions-count {
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro",
  "Noto Sans SC", sans-serif !important;
}

body.light {
  @apply bg-neutral-100;
}

body.dark {
  @apply bg-gray-900;
}

.color-body {
  @apply bg-neutral-100 transition-all duration-300 ease-apple dark:bg-gray-900;
}

.color-footer {
  @apply bg-neutral-100 transition-all duration-300 ease-apple dark:bg-gray-900;
}

.color-card {
  @apply bg-white hover:bg-gray-100 dark:bg-slate-800 dark:hover:bg-slate-700 transition-all duration-300 ease-apple ;
}

.card {
  @apply rounded-3xl
}

.transition-apple {
  @apply transform-gpu transition-all duration-300 ease-apple;
}

.glowEffect {
  background-image: radial-gradient(ellipse 100% 50% at center bottom, rgba(255, 255, 255, 0.4) 0%, transparent 50%);
  background-size: 100% 300%;
  background-position: 50% 100%;
}
